body {
	padding-top: 100px;
	padding-bottom: 100px;
}

.gameplay img {
  max-height: 100%;
  max-width: 100%;
  border: 1px solid;
  border-color: lightgray;
}

.gameplay .row {
  padding-bottom: 50px;
}

.gameplay .jumbotron {
  background-color: transparent !important;
}